.vscode
__pycache__
/home/irma/Documents/dsi_internship/American Currency collection_counterfeit reporters.xlsx
/home/irma/Documents/dsi_internship/American Currency collection_money-JSTOR.csv
/home/irma/Documents/dsi_internship/American Currency collection_money-JSTOR.xlsx
/home/irma/Documents/dsi_internship/.~lock.American Currency collection_money-JSTOR.xlsx#