.vscode
__pycache__
currency_cache.json
American Currency collection_counterfeit reporters.xlsx
American Currency collection_money-JSTOR.csv
American Currency collection_money-JSTOR.xlsx
.~*
currency_cache_cleaned.json
currency_cache.json
local-filename.jpg
test2_filenamedeliverytag.jpg
currency_cache.json
*.json
image_filename.csv
